.card {
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;
    position: relative;
    border: 1px solid red;
}


.card img {
    width: 100%;
    height: 200px;
}

.cross {
    overflow: hidden;
    width: 100%;
    height: 200px;
    background: rgba(92, 92, 92, 0.418);
    position: absolute;
    margin-top: -200px;
    display: none;
    backdrop-filter: blur(4px);
}

.cross span {
    width: 100%;
    height: 200px;
    transform: translate(42%, 45%);
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: red;
}

.card:hover .cross {
    display: block;
    animation: blob-bounce 1s ease;
}


@keyframes blob-bounce {
    0% {
        margin-top: -0px;
    }

    100% {
        margin-top: -200px;
    }
}